# Ignore actual environment/secret files
.env
secrets/
config/my_private_config.json

# Ignore dependency folders
node_modules/
__pycache__/

# Ignore OS (Windows system files)/IDE files
.vscode/
.DS_Store
Thumbs.db
desktop.ini

# Ignore logs
*.log

# Ignore the entire old code backup folder
_old/

# Ignore the configuration folder (where my DB credentials live)
config/

# Ignore the hash folder containing sensitive password scripts/hashes
hash/

# Ignore the uploads folder 
uploads/
